.blankLetter {
  background-color: #fff;
  border: 0.03125em solid #888;
}

.correctLetter {
  background-color: #c9b458;
}

.correctLetter.correctPosition {
  background-color: #6aaa64;
}

.incorrectLetter {
  background-color: #787c7e;
}

.tile {
  box-sizing: border-box;
  display: inline-flex;
  font-size: 2em;
  font-weight: bold;
  height: 2em;
  justify-content: center;
  line-height: 2em;
  margin: 0.5em;
  text-transform: uppercase;
  vertical-align: middle;
  width: 2em;
}

.wordle {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
