.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.icon {
  height: 256px;
}

.icon > img {
  height: 100%;
}

.letterTilesRow {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letterTile {
  background-color: #fff;
  border: 0.03125em solid #888;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 2em;
  font-weight: bold;
  height: 2em;
  justify-content: center;
  line-height: 2em;
  margin: 0.5em;
  text-transform: uppercase;
  vertical-align: middle;
  width: 2em;
}

.correctWord {
  background-color: #6aaa64;
}

.incorrectWord {
  background-color: #787c7e;
}
